@model XkSystem.Areas.Dorm.Models.DormStudent.Import
@{
    ViewBag.TopBar = "Hidden";
}

@using (Html.BeginForm("Import", "DormStudent", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-xs-3 control-label">
                    @Html.DisplayNameFor(d => d.UploadFile)
                </label>
                <div class="col-xs-9">
                    <input type="file" id="@Html.IdFor(d => Model.UploadFile)" name="@Html.NameFor(d => Model.UploadFile)" data-val='true' data-val-required='该字段是必须的!' class="form-control" />
                    @Html.ValidationMessageFor(d => d.UploadFile)
                    <span class="help-block">请按照【<a href="@Url.Action("ImportTemplate")" target="_self">模板</a>】编辑内容上传。<font class="text-danger">模板中标红的列是必须填写的。</font></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">
                    导入选项
                </label>
                <div class="col-xs-9">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(d => d.IsUpdate)
                            @Html.DisplayNameFor(d => d.IsUpdate)
                        </label>
                    </div>
                    <div class="checkbox hidden">
                        <label>
                            @Html.CheckBoxFor(d => d.IsRemove)
                            导入前删除现有数据（<span class="label label-danger" style="font-size:90%">危险，特别注意</span>）
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group hidden">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-ok"></span>
                        @Resources.LocalizedText.BtnOk
                    </button>
                </div>
            </div>
        </div>
        @if (Model.ImportList.Count > 0)
        {
            <fieldset>
                <legend>
                    导入结果
                </legend>
                @Html.ValidationSummary()
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th style="width:80px">
                                    @Html.DisplayNameFor(d => d.ImportList.FirstOrDefault().DormName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(d => d.ImportList.FirstOrDefault().RoomName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(d => d.ImportList.FirstOrDefault().BuildName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(d => d.ImportList.FirstOrDefault().StudentCode)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(d => d.ImportList.FirstOrDefault().StudentName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(d => d.ImportList.FirstOrDefault().Error)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var a in Model.ImportList)
                            {
                                <tr>
                                    <td>
                                        @a.DormName
                                    </td>
                                    <td>
                                        @a.RoomName
                                    </td>
                                    <td>
                                        @a.BuildName
                                    </td>
                                    <td>
                                        @a.StudentCode
                                    </td>
                                    <td>
                                        @a.StudentName
                                    </td>
                                    <td class="text-danger">
                                        @a.Error
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </fieldset>
        }
    </div>
}

<script type="text/javascript">
    $(function ()
    {
        if (@(Model.Status ? 1 : 0) == 1)
        {
            alert("导入成功!");
            window.parent.location.reload();
        }

        $("#@Html.IdFor(d => Model.IsRemove)").click(function()
        {
            if ($(this).is(':checked'))
            {
                if (confirm("确定要导入前清空现在数据?") == false)
                {
                    $(this).attr("checked", false);
                }
            }
        });
    });
</script>