@model XkSystem.Areas.Basis.Models.Period.Edit
@{
    ViewBag.TopBar = "Hidden";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="form-horizontal">
            @Html.HiddenFor(d => d.PeriodEdit.Id)
            <div class="form-group">
                <label class="col-xs-3 control-label">
                    @Html.LabelForRequired(d => d.PeriodEdit.No)
                </label>
                <div class="col-xs-9">
                    @Html.TextBoxFor(d => d.PeriodEdit.No, new { @class = "form-control", placeholder = "自动排序编号" })
                    @Html.ValidationMessageFor(d => d.PeriodEdit.No)
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">
                    @Html.LabelForRequired(d => d.PeriodEdit.PeriodName)
                </label>
                <div class="col-xs-9">
                    @Html.TextBoxFor(d => d.PeriodEdit.PeriodName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.PeriodEdit.PeriodName)
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">
                    @Html.LabelForRequired(d => d.PeriodEdit.PeriodTypeId)
                </label>
                <div class="col-xs-9">
                    @Html.DropDownListFor(d => d.PeriodEdit.PeriodTypeId,Model.PeriodTypeList, new { @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.PeriodEdit.PeriodTypeId)
                </div>
            </div>
            <div class="form-group hidden">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-ok"></span>
                        @Resources.LocalizedText.BtnOk
                    </button>
                </div>
            </div>
        </div>
    </div>
}