@model XkSystem.Areas.Quality.Models.Quality.List

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    <h4>评价设置</h4>
    <nav class="navbar">
        <div class="navbar-right">
            <a href="@Url.Action("Edit")" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span>
                @Resources.LocalizedText.BtnAdd
            </a>
            <a href="@Url.Action("Delete")" class="btn btn-danger delete">
                <span class="glyphicon glyphicon-trash"></span>
                @Resources.LocalizedText.BtnDelete
            </a>
        </div>
            <div class="navbar-left navbar-form">
                @Html.DropDownListFor(d => d.YearId, Model.YearList, new { @class = "form-control postback" })
                <div class="input-group form-group">
                    @Html.TextBoxFor(d => d.SearchText, new { @class = "form-control", placeholder = Resources.LocalizedText.TipSearch })
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
    </nav>

            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th style="width:30px">
                                @Html.CheckBox("CboxAll")
                            </th>
                            <th style="width:80px">
                                @Html.DisplayNameFor(d => d.QualityList.FirstOrDefault().No)
                            </th>
                            <th>
                                @Html.DisplayNameFor(d => d.QualityList.FirstOrDefault().QualityName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(d => d.QualityList.FirstOrDefault().FromDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(d => d.QualityList.FirstOrDefault().ToDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(d => d.QualityList.FirstOrDefault().YearName)
                            </th>
                            <th style="width:80px">
                                @Html.DisplayNameFor(d => d.QualityList.FirstOrDefault().IsOpen)
                            </th>
                            <th style="width:80px">
                                @Html.DisplayNameFor(d => d.QualityList.FirstOrDefault().IsActive)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var a in Model.QualityList)
                        {
                            <tr>
                                <td>
                                    <input type="checkbox" id="CboxId" name="CboxId" value="@a.Id" />
                                </td>
                                <td>
                                    @a.No
                                </td>
                                <td class="text-left">
                                    <a href="@Url.Action("Edit", new { id = a.Id })">@a.QualityName</a>
                                </td>
                                <td>
                                    @a.FromDate.ToString(XkSystem.Code.Common.StringToDate)
                                </td>
                                <td>
                                    @a.ToDate.ToString(XkSystem.Code.Common.StringToDate)
                                </td>
                                <td>
                                    @a.YearName
                                </td>
                                <td>
                                    @if (a.IsOpen)
                                    {
                                        <a href="@Url.Action("SetOpen", new { Id = a.Id })" class="btn btn-primary btn-xs post">已开启</a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("SetOpen", new { Id = a.Id })" class="btn btn-default btn-xs post">未开启</a>
                                    }
                                   
                                </td>
                                <td>
                                    @if (a.IsActive)
                                    {
                                        <a href="@Url.Action("SetActive", new { Id = a.Id })" class="btn btn-primary btn-xs post">已激活</a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("SetActive", new { Id = a.Id })" class="btn btn-default btn-xs post">未激活</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @Html.Partial("_PartialPager", Model.Page)
}
