@model XkSystem.Areas.Basis.Models.Class.OrgStudentByClassList

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    <div class="row">
        <div class="col-xs-6">
            <h4>班级管理</h4>
        </div>
        <div class="col-xs-6 text-right">
            <a href="@Url.Action("ExportOrgStudentByClassList", new {SubjectId = Model.SubjectId, ClassId = Model.ClassId, searchText = Model.SearchText })" class="btn btn-info">
                <span class="glyphicon glyphicon-download-alt"></span>
                @Resources.LocalizedText.BtnExportToExcel
            </a>
        </div>
    </div>
    <hr />
    <nav class="navbar">
        <div class="navbar-left navbar-form">
            @Html.DropDownListFor(d => d.ClassId, Model.ClassList, "==班级==", new { @class = "form-control postback" })
            @Html.DropDownListFor(d => d.SubjectId, Model.SubjectList, "==科目==", new { @class = "form-control postback" })
            <div class="input-group form-group">
                @Html.TextBoxFor(d => d.SearchText, new { @class = "form-control", placeholder = Resources.LocalizedText.TipSearch })
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </nav>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped" id="tbTable">
            <thead>
                <tr>
                    @*<th style="width:30px">
                            @Html.CheckBox("CboxAll")
                        </th>*@
                    <th>
                        @Html.DisplayNameFor(d => d.DataList.FirstOrDefault().StudentCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(d => d.DataList.FirstOrDefault().StudentName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(d => d.DataList.FirstOrDefault().SubjectName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(d => d.DataList.FirstOrDefault().OrgName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(d => d.DataList.FirstOrDefault().TeacherName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(d => d.DataList.FirstOrDefault().RoomName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(d => d.DataList.FirstOrDefault().WeekPeriod)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in Model.DataList)
                {
                    <tr>
                        @*<td>
                                <input type="checkbox" id="CboxId" name="CboxId" value="@a.Id" />
                            </td>*@
                        <td>
                            @a.StudentCode
                        </td>
                        <td>
                            @a.StudentName
                        </td>
                        <td>
                            @a.SubjectName
                        </td>
                        <td>
                            @a.OrgName
                        </td>
                        <td>
                            @a.TeacherName
                        </td>
                        <td>
                            @a.RoomName
                        </td>
                        <td>
                            @a.WeekPeriod
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
<script type="text/javascript">
    $(function () {
        table_rowspan("#tbTable", 1);
        table_rowspan("#tbTable", 2);
        table_rowspan("#tbTable", 3);
    });
</script>