@model XkSystem.Areas.Exam.Models.ExamAnalyze.List
@{
    ViewBag.TopBar = "Hidden";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    <div class="container-fluid">
        <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped" id="tbTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(d => d.ExamAnalyzeList.FirstOrDefault().StudentCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(d => d.ExamAnalyzeList.FirstOrDefault().StudentName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(d => d.ExamAnalyzeList.FirstOrDefault().Mark)
                            </th>
                            <th style="width:50px">
                                @Html.DisplayNameFor(d => d.ExamAnalyzeList.FirstOrDefault().IsGood)
                            </th>
                            <th style="width:50px">
                                @Html.DisplayNameFor(d => d.ExamAnalyzeList.FirstOrDefault().IsPass)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var a in Model.ExamAnalyzeList)
                        {
                            <tr>
                                <td style="text-wrap:none" nowrap>
                                    @a.StudentCode
                                </td>
                                <td style="text-wrap:none" nowrap>
                                    @a.StudentName
                                </td>
                                <td style="text-wrap:none" nowrap>
                                    @a.Mark
                                </td>
                                <td style="text-wrap:none" nowrap>
                                    @a.IsGood
                                </td>
                                <td style="text-wrap:none" nowrap>
                                    @a.IsPass
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                 优秀: @Model.goodCount 个  ;   及格:@Model.passCount 个
            </div>
    </div>
}
<script type="text/javascript">
    $(function ()
    {
    });
</script>
