@model XkSystem.Areas.Exam.Models.ExamAnalyze.List
@{
    ViewBag.TopBar = "Hidden";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    <div class="container-fluid">
        <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped" id="tbTable">
                    <thead>
                        <tr>
                            <th style="width:80px">
                                @Html.DisplayNameFor(d => d.ExamAnalyzeList.FirstOrDefault().SubjectName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(d => d.ExamAnalyzeList.FirstOrDefault().StudentCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(d => d.ExamAnalyzeList.FirstOrDefault().StudentName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(d => d.ExamAnalyzeList.FirstOrDefault().Mark)
                            </th>
                            <th style="width:50px">
                                @Html.DisplayNameFor(d => d.ExamAnalyzeList.FirstOrDefault().TotalCount)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var a in Model.ExamAnalyzeList)
                        {
                            <tr>
                                <td style="text-wrap:none" nowrap>
                                    @a.SubjectName
                                </td>
                                <td style="text-wrap:none" nowrap>
                                    @a.StudentCode
                                </td>
                                <td style="text-wrap:none" nowrap>
                                    @a.StudentName
                                </td>
                                <td style="text-wrap:none" nowrap>
                                    @a.Mark
                                </td>
                                <td style="text-wrap:none" nowrap>
                                    @a.TotalCount
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        <input id="hiddCommData" type="hidden" value="@Model.totalCommData" />
        <input id="hiddSubject" type="hidden" value="@Model.chkSubject" />
        <div id="main" style="width: 500px;height:300px;"></div>
    </div>
}
<script src="~/Scripts/echarts.min.js"></script>
<script type="text/javascript">
    $(function ()
    {
        table_rowspan("#tbTable", 1);
        table_rowspan("#tbTable", 5);

        var myChart = echarts.init(document.getElementById('main'));
        var subject = $.parseJSON($("#hiddSubject").val());
        var commData = $.parseJSON($("#hiddCommData").val());
        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '比例图'
            },
            tooltip: {},
            legend: {
                data: ['人数']
            },
            xAxis: {
                data: subject
            },
            yAxis: {},
            series: [{
                name: '人数',
                type: 'bar',
                data: commData
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    });
</script>
