@model XkSystem.Areas.Dorm.Models.DormApply.List

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    <div class="row">
        <div class="col-xs-6">
            <h4>住宿申请</h4>
        </div>
        <div class="col-xs-6 text-right">
            <a href="@Url.Action("List","DormStudent")" class="btn btn-default">
                <span class="glyphicon glyphicon-chevron-left"></span>
                @Resources.LocalizedText.BtnReturn
            </a>
            <a href="@Url.Action("Delete")" class="btn btn-danger delete">
                <span class="glyphicon glyphicon-trash"></span>
                @Resources.LocalizedText.BtnDelete
            </a>
        </div>
    </div>
    <hr />
    <nav class="navbar">
        <div class="navbar-left navbar-form">
            @Html.DropDownListFor(d => d.CheckStatusId, Model.CheckStatusList, new { @class = "form-control postback" })
            <div class="input-group form-group">
                @Html.TextBoxFor(d => d.SearchText, new { @class = "form-control", placeholder = Resources.LocalizedText.TipSearch })
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </nav>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th style="width:30px">
                        @Html.CheckBox("CboxAll")
                    </th>
                    <th>
                        @Html.DisplayNameFor(d => d.DormApplyList.FirstOrDefault().StudentName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(d => d.DormApplyList.FirstOrDefault().StudentCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(d => d.DormApplyList.FirstOrDefault().Sex)
                    </th>
                    <th>
                        @Html.DisplayNameFor(d => d.DormApplyList.FirstOrDefault().InputDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(d => d.DormApplyList.FirstOrDefault().CheckStatusName)
                    </th>
                    <th width="80">
                        操作
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in Model.DormApplyList)
                {
                    <tr>
                        <td>
                            <input type="checkbox" id="CboxId" name="CboxId" value="@a.Id" />
                        </td>
                        <td>
                            <a href="@Url.Action("Info", new { id = a.Id })" class="pop" dataHeight="480px">@a.StudentName</a>
                        </td>
                        <td>
                            @a.StudentCode
                        </td>
                        <td>
                            @a.Sex
                        </td>
                        <td>
                            @a.InputDate.ToString("yyyy-MM-dd")
                        </td>
                        <td>
                            @a.CheckStatusName
                        </td>
                        @if (a.CheckStatus != XkSystem.Code.EnumHelper.CheckStatus.Success)
                        {
                            <td>
                                <a href="@Url.Action("Approve", new { id = a.Id })" class="pop" dataHeight="380px"><i class="glyphicon glyphicon-check" title="审批"></i></a>
                            </td>
                        }
                        else
                        {
                            <td>
                                <a href="@Url.Action("ProvidedDorm", new { id = a.Id })" class="pop" dataHeight="380px"><i class="glyphicon glyphicon-share" title="安排宿舍"></i></a>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @Html.Partial("_PartialPager", Model.Page)
}