@model XkSystem.Areas.Moral.Models.Moral.List

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();

    <div class="row">
        <div class="col-xs-6">
            <h4>德育设置</h4>
        </div>
        <div class="col-xs-6 text-right">
            <a href="@Url.Action("Edit")" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span>
                @Resources.LocalizedText.BtnAdd
            </a>
            <a href="@Url.Action("Delete")" class="btn btn-danger delete">
                <span class="glyphicon glyphicon-trash"></span>
                @Resources.LocalizedText.BtnDelete
            </a>
        </div>
    </div>
    <hr />
    <nav class="navbar">
        <div class="navbar-left navbar-form">
            <div class="input-group form-group">
                @Html.TextBoxFor(d => d.SearchText, new { @class = "form-control", placeholder = Resources.LocalizedText.TipSearch })
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </nav>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th style="width:30px">
                        @Html.CheckBox("CboxAll")
                    </th>
                    <th>
                        @Html.DisplayNameFor(d => d.MoralList.FirstOrDefault().MoralName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(d => d.MoralList.FirstOrDefault().YearName)
                    </th>
                    <th style="width:160px">
                        @Html.DisplayNameFor(d => d.MoralList.FirstOrDefault().FromDate)
                    </th>
                    <th style="width:160px">
                        @Html.DisplayNameFor(d => d.MoralList.FirstOrDefault().ToDate)
                    </th>
                    <th style="width:80px">
                        @Html.DisplayNameFor(d => d.MoralList.FirstOrDefault().MoralType)
                    </th>
                    <th style="width:80px">
                        @Html.DisplayNameFor(d => d.MoralList.FirstOrDefault().IsOpen)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.MoralList)
                {
                    <tr>
                        <td>
                            <input type="checkbox" id="CboxId" name="CboxId" value="@item.Id" />
                        </td>
                        <td class="text-left">
                            <a href="@Url.Action("Edit", new { id = item.Id })">@item.MoralName</a>
                        </td>
                        <td>
                            @item.YearName
                        </td>
                        <td>
                            @Html.DisplayFor(a => item.FromDate)
                        </td>
                        <td>
                            @Html.DisplayFor(a => item.ToDate)
                        </td>
                        <td>
                            @item.MoralType.GetDescription()
                        </td>
                        <td>
                            @if (item.IsOpen)
                            {
                                <a href="@Url.Action("SetDisable", new { Id = item.Id })" class="btn btn-primary btn-xs post">已启用</a>
                            }
                            else
                            {
                                <a href="@Url.Action("SetDisable", new { Id = item.Id })" class="btn btn-default btn-xs post">未启用</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @Html.Partial("_PartialPager", Model.Page)
}
