@model XkSystem.Areas.Exam.Models.ExamSchedule.Edit
@{
    ViewBag.TopBar = "Hidden";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="form-horizontal">
            @Html.HiddenFor(d => d.ExamScheduleEdit.Id)
           
            <div class="form-group">
                <label class="col-xs-3 control-label">
                    @Html.LabelForRequired(d => d.ExamScheduleEdit.ExamScheduleName)
                </label>
                <div class="col-xs-9">
                    @Html.TextBoxFor(d => d.ExamScheduleEdit.ExamScheduleName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.ExamScheduleEdit.ExamScheduleName)
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">
                    @Html.LabelForRequired(d => d.ExamScheduleEdit.ExamId)
                </label>
                <div class="col-xs-9">
                    <div>
                        @Html.DropDownListFor(d => d.ExamScheduleEdit.ExamId, Model.ExamList, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(d => d.ExamScheduleEdit.ExamId)
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">
                    @Html.LabelForRequired(d => d.ExamScheduleEdit.ScheduleDate)
                </label>
                <div class="col-xs-9">
                    <div class="input-group date form_datetime fdate">
                        @Html.TextBoxFor(d => d.ExamScheduleEdit.ScheduleDate,
                                Model.ExamScheduleEdit.ScheduleDate.ToString(XkSystem.Code.Common.FormatToDate),
                                new { @class = "form-control", @readonly = "readonly" })
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar text-primary"></span></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">
                    @Html.LabelForRequired(d => d.ExamScheduleEdit.ScheduleNo)
                </label>
                <div class="col-xs-9">
                    @Html.TextBoxFor(d => d.ExamScheduleEdit.ScheduleNo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.ExamScheduleEdit.ScheduleNo)
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">
                    @Html.LabelForRequired(d => d.ExamScheduleEdit.FromDate)
                </label>
                <div class="col-xs-9">
                        <div class="input-group date form_datetime fdatetime">
                            @Html.TextBoxFor(d => d.ExamScheduleEdit.FromDate,
                                Model.ExamScheduleEdit.FromDate.ToString(XkSystem.Code.Common.FormatToDateTime),
                                new { @class = "form-control", @readonly = "readonly"})
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar text-primary"></span></span>
                        </div>
                        @Html.ValidationMessageFor(d => d.ExamScheduleEdit.FromDate)
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">
                    @Html.LabelForRequired(d => d.ExamScheduleEdit.ToDate)
                </label>
                <div class="col-xs-9">
                    <div class="input-group date form_datetime fdatetime">
                        @Html.TextBoxFor(d => d.ExamScheduleEdit.ToDate,
                                Model.ExamScheduleEdit.ToDate.ToString(XkSystem.Code.Common.FormatToDateTime),
                                new { @class = "form-control", @readonly = "readonly"})
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar text-primary"></span></span>
                    </div>
                    @Html.ValidationMessageFor(d => d.ExamScheduleEdit.ToDate)
                </div>
            </div>
            <div class="form-group hidden">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-ok"></span>
                        @Resources.LocalizedText.BtnOk
                    </button>
                </div>
            </div>
        </div>
    </div>
}