@model XkSystem.Areas.Exam.Models.ExamSchedule.List

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    <div class="row">
        <div class="col-xs-6">
            <h4>考试课程</h4>
        </div>
        <div class="col-xs-6 text-right">
            <a href="@Url.Action("List","ExamSchedule")" class="btn btn-default">
                <span class="glyphicon glyphicon-chevron-left"></span>
                @Resources.LocalizedText.BtnReturn
            </a>
            <a href="@Url.Action("SearchCourse", new { examId = Model.ExamId})" class="btn btn-primary pop" dataHeight="530px" dataSize="Large" dataMethod="Select">
                <span class="glyphicon glyphicon-plus"></span>
                @Resources.LocalizedText.BtnAdd
            </a>
            <a href="@Url.Action("DeleteExamCourse")" class="btn btn-danger delete">
                <span class="glyphicon glyphicon-trash"></span>
                @Resources.LocalizedText.BtnDelete
            </a>
        </div>
    </div>
    <hr />
    <br />
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th style="width:30px">
                        @Html.CheckBox("CboxAll")
                    </th>
                    <th rowspan="2">
                        @Html.DisplayNameFor(d => d.ExamScheduleList.FirstOrDefault().SubjectName)
                    </th>
                    <th rowspan="2">
                        @Html.DisplayNameFor(d => d.ExamScheduleList.FirstOrDefault().CourseName)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in Model.ExamScheduleList)
                {
                    <tr>
                        <td>
                            <input type="checkbox" id="CboxId" name="CboxId" value="@a.Id" />
                        </td>
                        <td>
                            @a.SubjectName
                        </td>
                        <td class="text-left">
                            @Html.ActionLink(a.CourseName, "List", "ExamRoom", new { ExamCourseId = a.Id, ScheduleId = Model.ScheduleId, ExamId = Model.ExamId }, new { })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
<script type="text/javascript">
    $(function () {
        $(document).on('click', '#modalSelect', function () {
            if ($('#iframeBody').contents().find("input[name='CboxId']:checked").length > 0) {
                var list = [];
                list.push({ name: "__RequestVerificationToken", value: $('input[name="__RequestVerificationToken"]').val() });
                var cheked = $('#iframeBody').contents().find("input[name='CboxId']:checked").each(function () {
                    list.push({ name: "ids", value: $(this).val() });
                });
                $.post("@Url.Action("UpdateExamCourse", "ExamSchedule", new { @scheduleId = Model.ScheduleId })", list, function (result) {
                    if (result.Status > 0) {
                        window.location.reload();
                    }
                }, "json").error(function (xhr, errorText, errorType) {
                    alert("错误：" + xhr.responseText);
                    hiddenLoading();
                });
            }
            else {
                alert("请先勾选需要操作的项目!");
                hiddenLoading();
            }

            return false;
        });
    });
</script>
