@model XkSystem.Areas.Sys.Models.SysIndex.Login
@{
    ViewBag.Title = "用户登录";
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
}

@section css{
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/mui/css/login.css")" />
 }
<div class="mui-content" style="height:100vh;">
    <div class="header" style="background: #a26f33 url(@Url.Content("~/Content/mui/img/m20logo.png")) no-repeat center;background-size:90%;"></div>
    <div class="content">
        <form method="post" wechat="true">
            @Html.AntiForgeryToken()
            <div class="form-group user @(Model.IsTenant ? "" : "hidden")">
                <span></span>
                @Html.TextBoxFor(d => d.SchoolName, new { placeholder = "学校名称", @autocomplete = "off", @style = "color:#a15c3c" })
            </div>
            <div class="form-group user">
                <span></span>
                @Html.TextBoxFor(d => d.UserCode, new { placeholder = "账号/手机号/邮箱/身份证", @autocomplete = "off", @style = "color:#a15c3c" })
            </div>
            <div class="form-group password">
                <span></span>
                @Html.PasswordFor(d => d.Password, new {value = @Model.Password, placeholder = "登陆密码", @autocomplete = "off", @style = "color:#a15c3c" })
            </div>
            <div class="form-group code">
                <span></span>
                @Html.TextBoxFor(d => d.CheckCode, new { MaxLength = "4", placeholder = "验证码", @autocomplete = "off",@style="color:#a15c3c" })
                @Html.HiddenFor(d => d.CheckCodeRefer)
                <div style="overflow: hidden;background-color: white;">
                    <img id="ImgCheckCode" class="linkref" style="height:30px;" src='@Html.Raw(Url.Action("CheckCode", new { code = @Model.CheckCodeRefer }))' alt="验证码" />
                    </div>
                <a href="#" class="linkref" style="color:#a15c3c;">换一张</a>
                </div>
                <button class="mui-btn mui-btn-block mui-btn-primary" style="background-color:#a26f33;border-color:#a26f33" type="submit">立即登录</button>
            <div class="remember">
                <label>@Html.CheckBoxFor(d => d.Remember)记住账号和密码</label>
            </div>
            <input type="hidden" id="ProgramId" name="ProgramId" value="1" />
            @Html.HiddenFor(m=>m.ReturnUrl)
        </form>
        <p>&copy;2016深圳市龙创软件有限公司</p>
    </div>
    
</div>

@section scripts{
    <script type="text/javascript">
        			(function($, doc) {
				$.init({
					statusBarBackground: '#f7f7f7'
				});
			}(mui, document));
        $(function () {
            $(".linkref").click(function () {
                $.post("@Html.Raw(Url.Action("GetCheckCode"))", null, function (result) {
                    $("#@Html.IdFor(d=>d.CheckCodeRefer)").val(result);
                    $("#ImgCheckCode").attr("src", "@Html.Raw(Url.Action("CheckCode"))?time=" + (new Date()).getTime() + "&code=" + result);
                }).error(function () {
                    alert("Resources.LocalizedText.MsgError");
                });
            });
        });
    </script>
}
