@model XkSystem.Areas.Sys.Models.SysIndex.Index
@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
}
@section css{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/mui/css/index.css")" />
    <style>
        /*.alpha-bar {
            filter: alpha(opacity=30);
            -moz-opacity: 0.3;
            opacity: 0.3;
            position:absolute;
            bottom:2px;
            width:100%;
            background-color:black;
            height:40px;
        }*/
    </style>
}
<div id="index-header">
    <div>

        <img src="@Url.Content(Model.UserInfo.Portrait)" />
    </div>
    <div class="alpha-bar">
        <h5 style="display:block;line-height:30px;">@Html.DisplayFor(item => item.UserInfo.UserName) | @Html.DisplayFor(item => item.UserInfo.UserTypeName) | <a style="color:white;" href="@Url.Content("~/Sys/SysIndex/LoginOut?isHome=true")">退出</a></h5>
    </div>

</div>
<div id="menu">
    <ul>
        <li class="menu-item-1"><a href="@Url.Action("MyMessageIndex", "MyMessage", new {area="Wechat" })">消息中心</a></li>
        <li class="menu-item-2"><a href="@Url.Action("ContactsIndex", "Contacts", new {area="Wechat" })">通讯录</a></li>
        <li class="menu-item-3"><a href="@Url.Action("CurriculumIndex", "Curriculum", new {area="Wechat" })">查看课表</a></li>
        <li class="menu-item-4"><a href="@Url.Action("MList", "Open", new {area="Wechat" })">查看公开课</a></li>
        <li class="menu-item-5"><a href="@Url.Action("MobilePay", "MobilePay", new {area="Wechat" })">我的工资</a></li>
        <li class="menu-item-6"><a href="@Url.Action("OfficeIndex", "Office", new {area="Wechat" })">办公发文</a></li>
        <li class="menu-item-7"><a href="@Url.Action("AssetRepairIndex", "AssetRepair", new {area="Wechat" })">报修跟踪</a></li>
        @if (XkSystem.Code.Common.IsRepairMananger)
        {
            <li class="menu-item-8"><a href="@Url.Action("RepairAssign", "AssetRepair", new { area = "Wechat" })">报修分派</a></li>
            <li class="menu-item-9"><a href="@Url.Action("RepairStatistics", "AssetRepair", new { area = "Wechat" })">报修统计</a></li>
        }
        <li class="menu-item-10"><a href="@Url.Action("ApplyLeaveIndex", "ApplyLeave", new {area="Wechat" })">请假申请</a></li>
        <li class="menu-item-11"><a href="@Url.Action("ApplyCarIndex", "ApplyCar", new {area="Wechat" })">用车申请</a></li>
        @if (XkSystem.Code.Common.UserType == XkSystem.Code.EnumHelper.SysUserType.Student)
        {
            <li class="menu-item-12"><a href="@Url.Action("m_InputIndex", "SurveyData", new {area="Survey" })">教师评价</a></li>
        }
    </ul>
</div>
