@model XkSystem.Areas.Quality.Models.QualityOption.List
@{
    ViewBag.TopBar = "Hidden";
}
<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th style="width:50px">
                    操作
                </th>
                <th style="width:80px">
                    @Html.DisplayNameFor(d => d.OptionList.FirstOrDefault().No)
                </th>
                <th>
                    @Html.DisplayNameFor(d => d.OptionList.FirstOrDefault().OptionName)
                </th>
                <th>
                    @Html.DisplayNameFor(d => d.OptionList.FirstOrDefault().OptionValue)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var a in Model.OptionList)
            {
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-remove text-danger form-control-static" style="cursor:pointer"></span>
                        <input type="hidden" id="txtId" name="txtId" value="@a.Id" />
                    </td>
                    <td>
                        <input type="text" class="form-control text-center" id="txtNo" name="txtNo" style="width:70px;" value="@a.No" />
                    </td>
                    <td>
                        <input type="text" class="form-control" id="txtName" name="txtName" value="@a.OptionName" />
                    </td>
                    <td>
                        <input type="text" class="form-control" id="txtValue" name="txtValue" value="@a.OptionValue" />
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <span class="glyphicon glyphicon-plus text-primary form-control-static" style="cursor:pointer"></span>
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tfoot>
    </table>
</div>

<script type="text/javascript">
    $(function () {
        $("table").on("click", ".glyphicon-remove", function () {
            if (confirm('确定要删除该记录?')) {
                $(this).parent().parent().remove();
            }
        });

        $("table").on("click", ".glyphicon-plus", function () {
            var $table = $("table tbody");
                var vTr =
                "<tr>" +
                "<td><span class='glyphicon glyphicon-remove text-danger form-control-static' style='cursor:pointer'></span>" +
                "<input type='hidden' id='txtId' name='txtId' /></td>" +
                "<td><input type='text' class='form-control text-center' id='txtNo' name='txtNo' style='width:70px;' /></td>" +
                "<td><input type='text' class='form-control' id='txtName' name='txtName'/></td>" +
                "<td><input type='text' class='form-control' id='txtValue' name='txtValue'/></td>" +
                "</tr>";
                $table.append(vTr);
        });
    });
</script>