@model XkSystem.Areas.Basis.Models.ClassAllotClass.Batch
@{
    ViewBag.TopBar = "Hidden";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-xs-3 control-label">
                    @Html.LabelForRequired(d => d.BatchEdit.Num)
                </label>
                <div class="col-xs-9">
                    @Html.TextBoxFor(d => d.BatchEdit.Num, new { @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.BatchEdit.Num)
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">
                    @Html.LabelForRequired(d => d.BatchEdit.YearId)
                </label>
                <div class="col-xs-9">
                    @Html.DropDownListFor(d => d.BatchEdit.YearId, Model.YearList, new { @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.BatchEdit.YearId)
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">
                    @Html.LabelForRequired(d => d.BatchEdit.ClassTypeId)
                </label>
                <div class="col-xs-9">
                    @Html.DropDownListFor(d => d.BatchEdit.ClassTypeId, Model.ClassTypeList, new { @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.BatchEdit.ClassTypeId)
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">
                    @Html.LabelForRequired(d => d.BatchEdit.GradeId)
                </label>
                <div class="col-xs-9">
                    @Html.DropDownListFor(d => d.BatchEdit.GradeId, Model.GradeList, new { @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.BatchEdit.GradeId)
                </div>
            </div>
            <div class="form-group hidden">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-ok"></span>
                        @Resources.LocalizedText.BtnOk
                    </button>
                </div>
            </div>
        </div>
    </div>
}