@model XkSystem.Areas.Survey.Models.SurveyReport.Detail

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    <nav class="navbar navbar-default mybar">
        <div class="navbar-right">
            <a class="btn btn-info" href="@Url.Action("ExportDetail", new { SurveyId = Model.SurveyId, SearchText = Model.SearchText})">
                <span class="glyphicon glyphicon-download-alt"></span>
                @Resources.LocalizedText.BtnExportToExcel
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <div class="navbar-left navbar-text" style="font-size:16px;">
                <span class="glyphicon glyphicon-option-vertical text-primary"></span>
                <span class="text-primary">明细</span>
            </div>
        </div>
    </nav>
    <hr />
    <div class="collapse navbar-collapse mycollapse" id="toolbar-collapse">
        <div class="navbar-left navbar-form">
            <div class="btn-group">
                <a href="@Url.Action("Subject", new { SurveyId = Model.SurveyId })" class="btn btn-default">科目</a>
                <a href="@Url.Action("ClassList", new { SurveyId = Model.SurveyId })" class="btn btn-warning active">班级</a>
            </div>
            <div class="btn-group">
                <a href="@Url.Action("ClassList", new { SurveyId = Model.SurveyId })" class="btn btn-default">汇总</a>
                <a href="@Url.Action("Detail", new { SurveyId = Model.SurveyId })" class="btn btn-warning active">明细</a>
            </div>
            @Html.DropDownListFor(d => d.SurveyId, Model.SurveyList, new { @class = "form-control postback" })
            <div class="input-group form-group">
                @Html.TextBoxFor(d => d.SearchText, new { @class = "form-control", placeholder = @Resources.LocalizedText.TipSearch })
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                        @Resources.LocalizedText.BtnSearch
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table id="tbTable" class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th style="width:60px">
                        序号
                    </th>
                    <th>
                        @Html.DisplayNameFor(d => d.SurveyDetailOrgList.FirstOrDefault().ClassName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(d => d.SurveyDetailOrgList.FirstOrDefault().TeacherName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(d => d.SurveyDetailOrgList.FirstOrDefault().StudentCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(d => d.SurveyDetailOrgList.FirstOrDefault().StudentName)
                    </th>
                    <th>
                        状态
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in Model.SurveyDetailOrgList)
                {
                    <tr>
                        <td>
                            @(Model.SurveyDetailOrgList.IndexOf(a) + 1)
                        </td>
                        <td>
                            @a.ClassName
                        </td>
                        <td>
                            @a.TeacherName
                        </td>
                        <td>
                            @a.StudentCode
                        </td>
                        <td>
                            @a.StudentName
                        </td>
                        <td>
                            <span class="label label-warning">未评价</span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}