@model XkSystem.Areas.Survey.Models.SurveyReport.UnSurveyClassStudent

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
            <nav class="navbar navbar-default mybar">
                <div class="navbar-right">
                    <a href="@Url.Action("UnSurveyClass")" class="btn btn-default">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        @Resources.LocalizedText.BtnReturn
                    </a>
                    <a class="btn btn-info" href="@Url.Action("UnSurveyExport", new { SearchText = Model.SearchText, ClassId = Model.ClassId })">
                        <span class="glyphicon glyphicon-download-alt"></span>
                        @Resources.LocalizedText.BtnExportToExcel
                    </a>
                </div>
                <div class="collapse navbar-collapse">
                    <div class="navbar-left navbar-text" style="font-size:16px;">
                        <span class="glyphicon glyphicon-option-vertical text-primary"></span>
                        <span class="text-primary">明细</span>
                    </div>
                </div>
            </nav>
            <hr />
            <div class="collapse navbar-collapse mycollapse" id="toolbar-collapse">
                <div class="navbar-left navbar-form">
                    <div class="input-group form-group">
                        @Html.TextBoxFor(d => d.SearchText, new { @class = "form-control", placeholder = @Resources.LocalizedText.TipSearch })
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                                @Resources.LocalizedText.BtnSearch
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th style="width:30px" class="hidden">
                                @Html.CheckBox("CboxAll")
                            </th>
                            <th>
                                @Html.DisplayNameFor(d => d.List.FirstOrDefault().StudentCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(d => d.List.FirstOrDefault().StudentName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(d => d.List.FirstOrDefault().StudentSex)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var a in Model.List)
                        {
                            <tr>
                                <td class="hidden">
                                    <input type="checkbox" id="CboxId" name="CboxId" value="@a.Id" />
                                </td>
                                <td>
                                    @a.StudentCode
                                </td>
                                <td>
                                    @a.StudentName
                                </td>
                                <td>
                                    @a.StudentSex
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
}
