@model XkSystem.Areas.Course.Models.Course.Import
@{
    ViewBag.TopBar = "Hidden";
}

@using (Html.BeginForm("Import", "Course", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-xs-3 control-label">
                    @Html.DisplayNameFor(d => d.UploadFile)
                </label>
                <div class="col-xs-9">
                    <input type="file" id="@Html.IdFor(d => Model.UploadFile)" name="@Html.NameFor(d => Model.UploadFile)" data-val='true' data-val-required='该字段是必须的!' class="form-control" />
                    @Html.ValidationMessageFor(d => d.UploadFile)
                    <span class="help-block">请按照【<a href="@Url.Action("ImportTemplate")" target="_self">模板</a>】编辑内容上传。<font class="text-danger">模板中标红的列是必须填写的。</font></span>
                </div>
            </div>
            <div class="form-group hidden">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-ok"></span>
                        @Resources.LocalizedText.BtnOk
                    </button>
                </div>
            </div>
        </div>
        <fieldset>
            <legend>
                导入结果
            </legend>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">

                </table>
            </div>
        </fieldset>
    </div>
}