@model XkSystem.Areas.Study.Models.StudyClassStudent.List

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
            <ul class="nav nav-pills nav-justified">
                <li class="active"><a href="@Url.Action("List","StudyClass",new { StudyId=Model.StudyId})">1、设置班级</a></li>
                <li class="active"><a href="@Url.Action("List","StudyClassTeacher",new { StudyId=Model.StudyId})">2、班级教管</a></li>
                <li class="active"><a href="@Url.Action("List","StudyClassStudent",new { StudyId=Model.StudyId})">3、班级学生</a></li>
            </ul>

            <h4>班级学生</h4>
            <nav class="navbar">
                <div class="navbar-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-th"></span>
                            @Resources.LocalizedText.BtnOther
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="@Url.Action("Import", new { studyId = Model.StudyId})" class="pop" dataHeight="500px">@Resources.LocalizedText.BtnImportFromExcel</a></li>
                            <li><a href="@Url.Action("Export", new { searchText = Model.SearchText, studyId = Model.StudyId, classId = Model.ClassId })">@Resources.LocalizedText.BtnExportToExcel</a></li>
                        </ul>
                    </div>
                </div>
                    <div class="navbar-left navbar-form">
                        @Html.DropDownListFor(d => d.ClassId, Model.ClassList, new { @class = "form-control postback" })
                        <div class="input-group form-group">
                            @Html.TextBoxFor(d => d.SearchText, new { @class = "form-control SearchText", placeholder = Resources.LocalizedText.TipSearch })
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
            </nav>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th style="width:30px">
                                @Html.CheckBox("CboxAll")
                            </th>
                            <th style="width:100px;">
                                序号
                            </th>
                            <th>
                                @Html.DisplayNameFor(d => d.StudyClassStudentList.FirstOrDefault().ClassName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(d => d.StudyClassStudentList.FirstOrDefault().StudentCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(d => d.StudyClassStudentList.FirstOrDefault().StudentName)
                            </th>
                            <th style="width:100px;">
                                @Html.DisplayNameFor(d => d.StudyClassStudentList.FirstOrDefault().SexName)
                            </th>
                            <th style="width:100px;">
                                是否参加晚自习
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var a in Model.StudyClassStudentList)
                        {
                            <tr>
                                <td>
                                    <input type="checkbox" id="CboxId" name="CboxId" value="@a.Id" />
                                </td>
                                <td>
                                    @(Model.StudyClassStudentList.IndexOf(a) + 1)
                                </td>
                                <td>
                                    @a.ClassName
                                </td>
                                <td class="text-left">
                                    @a.StudentCode
                                </td>
                                <td class="text-left">
                                    @a.StudentName
                                </td>
                                <td>
                                    @a.SexName
                                </td>
                                <td>
                                    @if (a.IsApplyStudy)
                                    {
                                        <a href="@Url.Action("SetIsApplyStudy", new { studyId = a.StudyId, classId = a.ClassId, studentId = a.StudentId })" class="btn btn-primary btn-xs post">已参加</a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("SetIsApplyStudy", new { studyId = a.StudyId, classId = a.ClassId, studentId = a.StudentId })" class="btn btn-default btn-xs post">不参加</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="form-inline text-center" style="padding-top:20px;">
                <a href="@Url.Action("List","StudyClassTeacher",new { studyId = Model.StudyId })" class="btn btn-default">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    上一步
                </a>
                <a href="@Url.Action("List", "Study")" class="btn btn-success">
                    <span class="glyphicon glyphicon-ok"></span>
                    @Resources.LocalizedText.BtnComplete
                </a>
                <a href="@Url.Action("List","Study")" class="btn btn-warning">
                    <span class="glyphicon glyphicon-remove"></span>
                    取消
                </a>
            </div>
}

<script type="text/javascript">
    $(function () {

        table_rowspan("#tbTable", 4);

        $(document).on('click', '#modalSelect', function () {
            if ($('#iframeBody').contents().find("input[name='CboxId']:checked").length > 0) {
                var list = [];
                list.push({ name: "__RequestVerificationToken", value: $('input[name="__RequestVerificationToken"]').val() });
                var cheked = $('#iframeBody').contents().find("input[name='CboxId']:checked").each(function () {
                    list.push({ name: "ids", value: $(this).val() });
                });
                if ($("#@Html.IdFor(d=>d.ClassId)").val() == "" || $("#@Html.IdFor(d=>d.ClassId)").val() == "0") {
                    alert("请选择行政班");
                    $(".close", window.parent.document).click();
                    return false;
                }
                list.push({ name: "classId", value: $("#@Html.IdFor(d=>d.ClassId)").val() });
                $.post("@Html.Raw(Url.Action("Insert", "StudyClassStudent", new { studyId = Model.StudyId}))", list, function (result) {
                    if (result.Message != "" && result.Message != undefined) {
                        alert(result.Message);
                    }

                    if (result.Status > 0) {
                        alert("操作成功!");
                        window.location.reload();
                    }
                }, "json").error(function (xhr, errorText, errorType) {
                    alert("错误：" + xhr.responseText);
                    hiddenLoading();
                });
            }
            else {
                alert("请先勾选需要操作的项目!");
                hiddenLoading();
            }

            return false;
        });
    });
</script>