@model XkSystem.Areas.Basis.Models.ClassAllotResult.List

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
            <ul class="nav nav-pills nav-justified">
                <li class="active">
                    <a href="@Url.Action("List","ClassAllotClass")">1、分班班级设置</a>
                </li>
                <li class="active">
                    <a href="@Url.Action("List","ClassAllotStudent")">2、分班学生设置</a>
                </li>
                <li class="active">
                    <a href="#">3、生成分班结果</a>
                </li>
            </ul>
            <hr />
            <br />
            <nav class="navbar">
                <div class="navbar-right">
                    <a href="@Url.Action("List", "Class")" class="btn btn-default">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        @Resources.LocalizedText.BtnReturn
                    </a>
                    <a href="@Url.Action("StartAllotClass", new { yearId = Model.YearId })" class="btn btn-primary pop" dataHeight="200px">
                        生成分班结果
                    </a>
                    <a href="@Url.Action("Delete")" class="btn btn-danger delete">
                        <span class="glyphicon glyphicon-trash"></span>
                        @Resources.LocalizedText.BtnDelete
                    </a>
                    <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-export"></span>
                            @Resources.LocalizedText.BtnExport
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="@Url.Action("Export", new { yearId = Model.YearId })">导出分班结果</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-cog"></span>
                            @Resources.LocalizedText.BtnOther
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="@Url.Action("PushToClass", new { yearId = Model.YearId })" class="post" confirm="应用分班结果会删除班级信息中对应年级已存在的数据，确定要进行操作?">应用分班结果</a></li>
                        </ul>
                    </div>
                </div>
                    <div class="navbar-left navbar-form">
                        @Html.DropDownListFor(d => d.ClassAllotClassId, Model.ClassAllotClassList, "==全部班级==", new { @class = "form-control postback" })
                        <div class="input-group form-group">
                            @Html.TextBoxFor(d => d.SearchText, new { @class = "form-control", placeholder = Resources.LocalizedText.TipSearch })
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
            </nav>

            
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped" id="tbTable">
                    <thead>
                        <tr>
                            <th style="width:30px">
                                @Html.CheckBox("CboxAll")
                            </th>
                            <th style="width:80px;">
                                序号
                            </th>
                            <th>
                                @Html.DisplayNameFor(d => d.ClassAllotResultList.FirstOrDefault().StudentCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(d => d.ClassAllotResultList.FirstOrDefault().StudentName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(d => d.ClassAllotResultList.FirstOrDefault().SexName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(d => d.ClassAllotResultList.FirstOrDefault().ClassName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(d => d.ClassAllotResultList.FirstOrDefault().ClassTypeName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(d => d.ClassAllotResultList.FirstOrDefault().GradeName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(d => d.ClassAllotResultList.FirstOrDefault().Score)
                            </th>
                            <th width="70px">
                                操作
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var a in Model.ClassAllotResultList)
                        {
                            <tr>
                                <td>
                                    <input type="checkbox" id="CboxId" name="CboxId" value="@a.Id" />
                                </td>
                                <td>
                                    @(Model.ClassAllotResultList.IndexOf(a) + 1)
                                </td>
                                <td>
                                    @a.StudentCode
                                </td>
                                <td class="text-left">
                                    @a.StudentName
                                </td>
                                <td>
                                    @a.SexName
                                </td>
                                <td>
                                    @a.ClassName
                                </td>
                                <td>
                                    @a.ClassTypeName
                                </td>
                                <td>
                                    @a.GradeName
                                </td>
                                <td>
                                    @a.Score
                                </td>
                                <td width="70px">
                                    <a href="@Url.Action("Edit", new { Id = a.Id, yearId = Model.YearId })" class="pop" dataHeight="180px"><i class="glyphicon glyphicon-share" title="转班"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
}