@model XkSystem.Areas.Attendance.Models.Attendance.My

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-xs-6">
            <h4>我的考勤</h4>
        </div>
        <div class="col-xs-6 text-right">

        </div>
    </div>
    <hr />
    <nav class="navbar">
        <div class="navbar-left navbar-form">
            <div class="form-group">
                <div class="input-group date form_datetime fdate" style="width:160px;">
                    @Html.TextBoxFor(d => d.DateSearchFrom, XkSystem.Code.Common.FormatToDate, new { @class = "form-control", @readonly = "readonly" })
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar text-primary"></span></span>
                </div>
            </div>
            <span>-</span>
            <div class="form-group">
                <div class="input-group date form_datetime fdate" style="width:160px;">
                    @Html.TextBoxFor(d => d.DateSearchTo, XkSystem.Code.Common.FormatToDate, new { @class = "form-control", @readonly = "readonly" })
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar text-primary"></span></span>
                </div>
            </div>
            <div class="input-group form-group">
                @Html.TextBoxFor(d => d.SearchText, new { @class = "form-control", placeholder = Resources.LocalizedText.TipSearch })
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </nav>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(d => d.MyAttendanceList.FirstOrDefault().OrgName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(d => d.MyAttendanceList.FirstOrDefault().AttendanceDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(d => d.MyAttendanceList.FirstOrDefault().PeriodName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(d => d.MyAttendanceList.FirstOrDefault().AttendanceOption)
                    </th>
                    <th>
                        @Html.DisplayNameFor(d => d.MyAttendanceList.FirstOrDefault().InputUser)
                    </th>
                    <th>
                        @Html.DisplayNameFor(d => d.MyAttendanceList.FirstOrDefault().InputDate)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in Model.MyAttendanceList)
                {
                    <tr>
                        <td>
                            @a.OrgName
                        </td>
                        <td>
                            @a.AttendanceDate.ToString(XkSystem.Code.Common.StringToDate)
                        </td>
                        <td>
                            @a.PeriodName
                        </td>
                        <td>
                            @a.AttendanceOption
                        </td>
                        <td>
                            @a.InputUser
                        </td>
                        <td>
                            @a.InputDate.ToString(XkSystem.Code.Common.StringToDateTime)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}