@model XkSystem.Areas.Exam.Models.ExamMark.TagList

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    <div class="row">
        <div class="col-xs-6">
            <h4>状态录入</h4>
        </div>
        <div class="col-xs-6 text-right">
            <a href="@Url.Action("TagEdit", new { examId = Model.ExamId })" class="btn btn-primary pop" dataHeight="250px">
                <span class="glyphicon glyphicon-plus"></span>
                @Resources.LocalizedText.BtnAdd
            </a>
            <a href="@Url.Action("TagDelete")" class="btn btn-danger delete">
                <span class="glyphicon glyphicon-trash"></span>
                @Resources.LocalizedText.BtnDelete
            </a>
            <div class="btn-group hidden">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-th"></span>
                    更多
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="@Url.Action("Import", new { examId = Model.ExamId })" class="pop" dataHeight="500px" dataSize="Large">@Resources.LocalizedText.BtnImportFromExcel</a></li>
                    <li class="divider"></li>
                    <li><a href="@Url.Action("Export", new { examId = Model.ExamId, ExamCourseId = Model.ExamCourseId })">@Resources.LocalizedText.BtnExportToExcel</a></li>
                </ul>
            </div>
        </div>
    </div>
    <hr />
    <nav class="navbar">
        <div class="navbar-left navbar-form">
            <div class="btn-group form-group">
                @Html.DropDownListFor(d => d.ExamId, Model.ExamList, new { @class = "form-control postback" })
                @Html.DropDownListFor(d => d.ExamCourseId, Model.ExamCourseList, "==全部==", new { @class = "form-control postback" })
            </div>
            <div class="input-group form-group">
                @Html.TextBoxFor(d => d.SearchText, new { @class = "form-control", placeholder = Resources.LocalizedText.TipSearch })
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </nav>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th style="width:30px">
                        @Html.CheckBox("CboxAll")
                    </th>
                    <th>
                        @Html.DisplayNameFor(d => d.ExamTagList.FirstOrDefault().StudentCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(d => d.ExamTagList.FirstOrDefault().StudentName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(d => d.ExamTagList.FirstOrDefault().CourseName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(d => d.ExamTagList.FirstOrDefault().ExamStatusName)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in Model.ExamTagList)
                {
                    <tr>
                        <td>
                            <input type="checkbox" id="CboxId" name="CboxId" value="@a.Id" />
                        </td>
                        <td>
                            @a.StudentCode
                        </td>
                        <td>
                            @a.StudentName
                        </td>
                        <td>
                            @a.CourseName
                        </td>
                        <td>
                            <a href="@Url.Action("TagEdit", new { id = a.Id, examId = Model.ExamId })" class="pop" dataHeight="250px">
                                @a.ExamStatusName
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}