@model XkSystem.Areas.Exam.Models.Exam.List

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    <div class="row">
        <div class="col-xs-6">
            <h4>考试设置</h4>
        </div>
        <div class="col-xs-6 text-right">
            <a href="@Url.Action("Edit")" class="btn btn-primary pop" dataHeight="400px">
                <span class="glyphicon glyphicon-plus"></span>
                @Resources.LocalizedText.BtnAdd
            </a>
            <a href="@Url.Action("Delete")" class="btn btn-danger delete">
                <span class="glyphicon glyphicon-trash"></span>
                @Resources.LocalizedText.BtnDelete
            </a>
            <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-th"></span>
                    @Resources.LocalizedText.BtnOther
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="@Url.Action("List", "ExamType")">考试类型</a></li>
                    <li><a href="@Url.Action("List", "ExamStatus")">考生状态参数</a></li>
                    <li><a href="@Url.Action("List", "ExamLevelGroup")">考试等级设置</a></li>
                    <li><a href="@Url.Action("List", "ExamSection")">学习时间设置</a></li>
                    <li><a href="@Url.Action("List", "ExamSegmentGroup")">考试分数段分组设置</a></li>
                </ul>
            </div>
        </div>
    </div>
    <hr />
    <nav class="navbar">
        <div class="navbar-left navbar-form">
            <div class="input-group form-group">
                @Html.TextBoxFor(d => d.SearchText, new { @class = "form-control", placeholder = Resources.LocalizedText.TipSearch })
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </nav>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th style="width:30px">
                        @Html.CheckBox("CboxAll")
                    </th>
                    <th style="width:80px">
                        @Html.DisplayNameFor(d => d.ExamList.FirstOrDefault().No)
                    </th>
                    <th>
                        @Html.DisplayNameFor(d => d.ExamList.FirstOrDefault().ExamName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(d => d.ExamList.FirstOrDefault().ExamTypeName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(d => d.ExamList.FirstOrDefault().YearName)
                    </th>
                    <th style="width:80px">
                        @Html.DisplayNameFor(d => d.ExamList.FirstOrDefault().IsPublish)
                    </th>
                    <th>
                        @Html.DisplayNameFor(d => d.ExamList.FirstOrDefault().ExamLevelGroupName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(d => d.ExamList.FirstOrDefault().ExamSegmentGroupName)
                    </th>
                    <th style="width:50px">
                        操作
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in Model.ExamList)
                {
                    <tr>
                        <td>
                            <input type="checkbox" id="CboxId" name="CboxId" value="@a.Id" />
                        </td>
                        <td>
                            @a.No
                        </td>
                        <td class="text-left">
                            @Html.ActionLink(a.ExamName, "List", "ExamCourse", new { ExamId = a.Id }, new { })
                        </td>
                        <td>
                            @a.ExamTypeName
                        </td>
                        <td>
                            @a.YearName
                        </td>
                        <td>
                            @if (a.IsPublish)
                            {
                                <a href="@Url.Action("SetPublish", new { Id = a.Id })" class="btn btn-success btn-xs post">已开放</a>
                            }
                            else
                            {
                                <a href="@Url.Action("SetPublish", new { Id = a.Id })" class="btn btn-default btn-xs post">未开放</a>
                            }
                        </td>
                        <td>
                            @a.ExamLevelGroupName
                        </td>
                        <td>
                            @a.ExamSegmentGroupName
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", new { Id = a.Id })" class="pop" dataHeight="400px">
                                <span class="glyphicon glyphicon-edit" title="编辑"></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @Html.Partial("_PartialPager", Model.Page)
}