@model XkSystem.Areas.Moral.Models.MoralItem.Import
@{
    ViewBag.TopBar = "Hidden";
}

@using (Html.BeginForm("Import","MoralItem", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(d=>d.MoralId)
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-xs-3 control-label">
                    @Html.DisplayNameFor(d => d.UploadFile)
                </label>
                <div class="col-xs-9">
                    <input type="file" id="@Html.IdFor(d => Model.UploadFile)" name="@Html.NameFor(d => Model.UploadFile)" data-val='true' data-val-required='请选择上传文件!' class="form-control" />
                    @Html.ValidationMessageFor(d => d.UploadFile)
                    <span class="help-block">请按照【<a href="@Url.Action("ImportTemplate")" target="_self">模板</a>】编辑内容上传。<font class="text-danger">模板中标红的列是必须填写的。</font></span>
                </div>
            </div>
            <div class="form-group hidden">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-ok"></span>
                        @Resources.LocalizedText.BtnOk
                    </button>
                </div>
            </div>
        </div>
        @Html.ValidationSummary()
        @if (Model.ImportList != null)
        {
            <fieldset>
                <legend>
                    导入结果
                </legend>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(d => Model.ImportList.FirstOrDefault().MoralItemName )</th>
                                <th>@Html.DisplayNameFor(d => Model.ImportList.FirstOrDefault().MoralGroupName)</th>
                                <th>@Html.DisplayNameFor(d => Model.ImportList.FirstOrDefault().MaxScore )</th>
                                <th>@Html.DisplayNameFor(d => Model.ImportList.FirstOrDefault().MinScore)</th>
                                <th>@Html.DisplayNameFor(d => Model.ImportList.FirstOrDefault().InitScore)</th>
                                <th>@Html.DisplayNameFor(d => Model.ImportList.FirstOrDefault().MoralItemType)</th>
                                <th>@Html.DisplayNameFor(d => Model.ImportList.FirstOrDefault().MoralExpress)</th>
                                <th class="text-left">@Html.DisplayNameFor(d => Model.ImportList.FirstOrDefault().ImportError)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ImportList)
                            {
                                <tr>
                                    <td>@item.MoralItemName </td>
                                    <td>@item.MoralGroupName</td>
                                    <td>@item.MaxScore</td>
                                    <td>@item.MinScore</td>
                                    <td>@item.InitScore</td>
                                    <td>@item.MoralItemType</td>
                                    <td>@item.MoralExpress</td>
                                    <td>@item.ImportError</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </fieldset>
        }
    </div>
}

<script type="text/javascript">
    $(function () {
        if ("@Model.Status" == "True") {
            alert("导入成功！");
            window.parent.location.reload();
        }
    });
</script>