@model XkSystem.Areas.Moral.Models.MoralGroup.Edit
@{ 
    ViewBag.TopBar = "Hidden";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="form-horizontal">
            @Html.HiddenFor(d => d.MoralGroupEdit.Id)          
            <div class="form-group">
                <label class="col-xs-3 control-label">
                    @Html.LabelForRequired(d => d.MoralGroupEdit.No)
                </label>
                <div class="col-xs-9">
                    @Html.TextBoxFor(d => d.MoralGroupEdit.No, new { @class = "form-control", placeholder="自动排序编号" })
                    @Html.ValidationMessageFor(d => d.MoralGroupEdit.No)
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 control-label">
                    @Html.LabelForRequired(d => d.MoralGroupEdit.MoralGroupName)
                </label>
                <div class="col-xs-9">
                    @Html.TextBoxFor(d => d.MoralGroupEdit.MoralGroupName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.MoralGroupEdit.MoralGroupName)
                </div>
            </div>
            <div class="form-group hidden">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-ok"></span>
                        @Resources.LocalizedText.BtnOk
                    </button>
                </div>
            </div>
        </div>
    </div>
}