@model XkSystem.Areas.Sys.Models.SysUser.PasswordChange
@{
    ViewBag.TopBar = "Hidden";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-xs-3 control-label">
                    @Html.LabelForRequired(d => d.Password)
                </label>
                <div class="col-xs-9">
                    @Html.PasswordFor(d => d.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.Password)
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">
                    @Html.LabelForRequired(d => d.PasswordNew)
                </label>
                <div class="col-xs-9">
                    @Html.PasswordFor(d => d.PasswordNew, new { @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.PasswordNew)
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">
                    @Html.LabelForRequired(d => d.PasswordAgain)
                </label>
                <div class="col-xs-9">
                    @Html.PasswordFor(d => d.PasswordAgain, new { @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.PasswordAgain)
                </div>
            </div>
            <div class="form-group hidden">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-ok"></span>
                        @Resources.LocalizedText.BtnOk
                    </button>
                </div>
            </div>
        </div>
    </div>
}