@model XkSystem.Areas.Sys.Models.SysUser.UserRoleList
@{
    ViewBag.TopBar = "Hidden";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(d => d.DataList.FirstOrDefault().No)
                    </th>
                    <th>
                        @Html.DisplayNameFor(d => d.DataList.FirstOrDefault().RoleName)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in Model.DataList)
                {
                    <tr>
                        <td style="width:80px">
                            @a.No
                        </td>
                        <td>
                            @a.RoleName
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}