@model XkSystem.Areas.Quality.Models.QualityItem.List

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
            <ul class="nav nav-pills nav-justified">
                <li class="active"><a href="@Url.Action("Edit","Quality",new { id = Model.QualityId })">1、评价信息</a></li>
                <li class="active" ><a href="@Url.Action("List","QualityItemGroup",new { qualityId = Model.QualityId })">2、评价分组</a></li>
                <li class="active"><a href="#">3、评价内容</a></li>
            </ul>
            <h4>评价内容</h4>
            <nav class="navbar">
                <div class="navbar-right">
                    <a href="@Url.Action("Edit",new { qualityId=Model.QualityId })" class="btn btn-primary pop" dataHeight="900px" dataSize="Large">
                        @Resources.LocalizedText.BtnAdd
                    </a>
                    <a href="@Url.Action("Delete")" class="btn btn-danger delete">
                        <span class="glyphicon glyphicon-trash"></span>
                        @Resources.LocalizedText.BtnDelete
                    </a>
                </div>
                    <div class="navbar-left navbar-form">
                        @Html.DropDownListFor(d => d.QualityItemGroupId, Model.QualityItemGroupList, "全部", new { @class = "form-control postback" })
                        <div class="input-group form-group">
                            @Html.TextBoxFor(d => d.SearchText, new { @class = "form-control", placeholder = Resources.LocalizedText.TipSearch })
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
            </nav>

            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th style="width:30px">
                                @Html.CheckBox("CboxAll")
                            </th>
                            <th style="width:80px">
                                @Html.DisplayNameFor(d => d.QualityItemList.FirstOrDefault().No)
                            </th>
                            <th>
                                @Html.DisplayNameFor(d => d.QualityItemList.FirstOrDefault().QualityItemName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(d => d.QualityItemList.FirstOrDefault().QualityItemGroupName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(d => d.QualityItemList.FirstOrDefault().QualityItemType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(d => d.QualityItemList.FirstOrDefault().IsVertical)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var a in Model.QualityItemList)
                        {
                            <tr>
                                <td>
                                    <input type="checkbox" id="CboxId" name="CboxId" value="@a.Id" />
                                </td>
                                <td>
                                    @a.No
                                </td>
                                <td class="text-left">
                                    <a href="@Url.Action("Edit", new { id = a.Id, qualityItemGroupId = Model.QualityItemGroupId,qualityId=Model.QualityId})" class="pop" dataHeight="900px" dataSize="Large">@a.QualityItemName</a>
                                </td>
                                <td>
                                    @a.QualityItemGroupName
                                </td>
                                <td>
                                   @if (a.QualityItemType == XkSystem.Code.EnumHelper.QualityItemType.Radio)
                                   {
                                    <span class="label label-primary">@a.QualityItemType.GetDescription()</span>
                                   }
                                   else if (a.QualityItemType == XkSystem.Code.EnumHelper.QualityItemType.CheckBox)
                                   {
                                    <span class="label label-info">@a.QualityItemType.GetDescription()</span>
                                   }
                                   else if (a.QualityItemType == XkSystem.Code.EnumHelper.QualityItemType.TextBox)
                                   {
                                    <span class="label label-success">@a.QualityItemType.GetDescription()</span>
                                   }
                                   else
                                   {
                                    <span class="label label-default">@a.QualityItemType.GetDescription()</span>
                                   }
                                </td>
                                <td>
                                    @if (a.IsVertical == true)
                                    {
                                        <span class="label label-info">纵向</span>
                                    }
                                    else
                                    {
                                        <span class="label label-primary">横向</span>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="form-inline text-center" style="padding-top:20px;">
                    <a href="@Url.Action("List","QualityItemGroup",new { qualityId = Model.QualityId })" class="btn btn-default">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        上一步
                    </a>
                    <a href="@Url.Action("List","Quality")" class="btn btn-success">
                        <span class="glyphicon glyphicon-ok"></span>
                        完成
                    </a>
                    <a href="@Url.Action("List","Quality")" class="btn btn-warning">
                        <span class="glyphicon glyphicon-remove"></span>
                        取消
                    </a>
                </div>
            </div>
}
