@model XkSystem.Areas.Elective.Models.ElectiveGroup.Edit
@{
    ViewBag.TopBar = "Hidden";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="form-horizontal">
            @Html.HiddenFor(d => d.ElectiveGroupEdit.Id)
            <div class="form-group">
                <label class="col-xs-3 control-label">
                    @Html.LabelForRequired(d => d.ElectiveGroupEdit.No)
                </label>
                <div class="col-xs-9">
                    @Html.TextBoxFor(d => d.ElectiveGroupEdit.No, new { @class = "form-control", placeholder = "自动排序编号" })
                    @Html.ValidationMessageFor(d => d.ElectiveGroupEdit.No)
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">
                    @Html.LabelForRequired(d => d.ElectiveGroupEdit.ElectiveGroupName)
                </label>
                <div class="col-xs-9">
                    @Html.TextBoxFor(d => d.ElectiveGroupEdit.ElectiveGroupName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.ElectiveGroupEdit.ElectiveGroupName)
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">
                    @Html.LabelForRequired(d => d.ElectiveGroupEdit.MinElective)
                </label>
                <div class="col-xs-9">
                    @Html.TextBoxFor(d => d.ElectiveGroupEdit.MinElective, new { @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.ElectiveGroupEdit.MinElective)
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">
                    @Html.LabelForRequired(d => d.ElectiveGroupEdit.MaxElective)
                </label>
                <div class="col-xs-9">
                    @Html.TextBoxFor(d => d.ElectiveGroupEdit.MaxElective, new { @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.ElectiveGroupEdit.MaxElective)
                </div>
            </div>
            <div class="form-group hidden">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-ok"></span>
                        @Resources.LocalizedText.BtnOk
                    </button>
                </div>
            </div>
        </div>
    </div>
}