@model XkSystem.Areas.Survey.Models.SurveyData.Input

@{
    ViewBag.Title = "评价列表";
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
}
@section css{
    <link href="@Url.Content("~/Content/mui/css/mui.picker.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/mui/css/mui.poppicker.css")" rel="stylesheet" />
}

<header class="mui-bar mui-bar-nav">
    <a class="mui-icon mui-icon-left-nav mui-pull-left" href="@Url.Action("Index", "SysIndex", new { area = "Sys" })"></a>
    <h1 class="mui-title">评价列表</h1>
</header>
<div class="mui-content">
    <div id="slider" class="mui-slider">
        @Html.HiddenFor(d => d.SurveryJson)
        @Html.HiddenFor(d => d.SurveyId)
        <div class="mui-content-padded search-bar">
            <a href="#" id="showSurveryPicker" class="mui-btn mui-btn-primary mui-btn-block mui-btn-outlined" style="padding: 5px;">
                <span style="float:left;line-height:1.42" class="mui-icon mui-icon-search"></span>
                <span id="showStatusButton" style="font-size:14px;">请选择教师评价</span>
            </a>
        </div>
        <div>
            <ul class="mui-table-view">
                @foreach (var item in Model.OrgTeacherList)
                {
                    <li class="mui-table-view-cell">
                        <a class="mui-navigate-right" href="@Url.Action("m_Input","SurveyData", new { orgId = item.OrgId, teacherId = item.TeacherId, IsClass = item.IsClass, surveyId = Model.SurveyId })">
                            <span class="mui-badge @(item.IsHaveInput?"mui-badge-success":"mui-badge-danger")">@(item.IsHaveInput ? "已评" : "未评")</span>
                            @item.TeacherName&nbsp;&nbsp;&nbsp;&nbsp;@item.OrgName
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

@section scripts{
    <script src="@Url.Content("~/Content/mui/js/mui.picker.min.js")"></script>
    <script src="@Url.Content("~/Content/mui/js/mui.poppicker.js")"></script>
    <script>
        $(function () {
            var showSurveryPicker = document.getElementById('showSurveryPicker');
            var jsonDepts = JSON.parse(document.getElementById('@Html.IdFor(d=>d.SurveryJson)').value);
            loadSurvery();
            var deptPicker = new mui.PopPicker();
            deptPicker.setData(jsonDepts);
            deptPicker.pickers[0].setSelectedValue($("#@Html.IdFor(d=>d.SurveyId)").val());
            showSurveryPicker.addEventListener('tap', function (event) {
                deptPicker.show(function (items) {
                    $("#@Html.IdFor(d=>d.SurveyId)").val(items[0].value);
                    $("#showStatusButton").val(items[0].text);
                    window.location.href = "@Url.Action("m_InputIndex")?surveyId=" + items[0].value;
                });
            }, false);
        });

        function loadSurvery() {
            var jsonDepts = JSON.parse(document.getElementById('@Html.IdFor(d=>d.SurveryJson)').value);
            for (var i = 0; i < jsonDepts.length; i++) {
                if (jsonDepts[i].value == $("#@Html.IdFor(d=>d.SurveyId)").val()) {
                    $("#showStatusButton").text(jsonDepts[i].text);
                    return false;
                }
            }
        }
    </script>
}