@model XkSystem.Areas.Sys.Models.SysMessageUser.ImportUser
@{
    ViewBag.TopBar = "Hidden";
}

@using (Html.BeginForm("ImportJsonUser", "SysMessage", FormMethod.Post, new { enctype = "multipart/form-data", id = "uploadForm" }))
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-xs-3 control-label stat">
                    <input type="hidden" id="hdfModalType" value="ImportUser" />
                </label>
                <div class="col-xs-9">
                    <div class="navbar-left navbar-form">
                        <div class="input-group form-group">
                            <input type="file" id="@Html.IdFor(d => Model.UploadFile)" name="@Html.NameFor(d => Model.UploadFile)" data-val='true' data-val-required='请上传Excel' class="form-control" />
                            <span class="input-group-btn">
                                <button type="submit" id="btnUploadExcel" class="btn btn-success">
                                    <span class="glyphicon glyphicon-upload"></span>
                                    上传
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="navbar-left navbar-form">
                        <div class="input-group form-group">
                            <span class="help-block">请按照<a href="@Url.Action("ImportUserTemplate")" target="_self">模板</a>编辑内容上传。<font class="text-danger">模板中标红的列是必须填写的。</font></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            @Html.ValidationSummary()
        </div>
        <fieldset>
            <legend>
                导入结果
            </legend>
            <input type="hidden" id="hdfReceiverUserList" name="hdfReceiverUserList" class="hdfReceiverUserList" />
            <div class="table-responsive">
                <table id="table-import-user" class="table table-bordered table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>
                                用户账号
                            </th>
                            <th>
                                用户姓名
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </fieldset>
    </div>
}
<script type="text/javascript" charset="utf-8" src="@Url.Content("~/Scripts/jquery.form.js")"></script>
<script type="text/javascript">
    $('#uploadForm').on('submit', function (e) {
        e.preventDefault();
        $(this).ajaxSubmit({
            beforeSend: function () {
            },
            uploadProgress: function (event, position, total, percentComplete) {
            },
            success: function (data) {
                if (data.Status == "0")//成功
                {
                    var trMobile = "";
                    var li = "";
                    $("#table-import-user tbody tr").remove();
                    $.each(data.Message, function (i, item) {
                        trMobile += "<tr>";
                        trMobile += "<td>" + item.UserCode + "</td>";
                        trMobile += "<td>" + item.UserName + "</td>";
                        trMobile += "</tr>";
                        li += "<li style='float:left;cursor:pointer'>";
                        li += "<span class='label label-primary glyphicon glyphicon-remove' userId='" + item.Id + "'>" + item.UserName + "</span>";
                        li += "</li>";
                    });
                    $("#table-import-user tbody").append(trMobile);
                    $("#hdfReceiverUserList").val(li);
                    $(".validation-summary-errors ul").remove();
                }
                else {
                    $("#table-import-user tbody tr").remove();
                    $("#hdfReceiverUserList").val('');
                    var trMobile = "";
                    for (var i = 0; i < data.Message.length; i++) {
                        trMobile += "" + data.Message[i] + "\n";
                    }
                    alert(trMobile);
                }
                $("#btnUploadExcel").removeAttr("disabled");
            },
            complete: function (xhr) {
            }
        });
    });
</script>