@model XkSystem.Areas.Sys.Models.SysMessage.List

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    <div class="row">
        <div class="col-xs-6">
            <h4>通知公告</h4>
        </div>
        <div class="col-xs-6 text-right">
            <a href="@Url.Action("Index","SysIndex")" class="btn btn-default">
                <span class="glyphicon glyphicon-chevron-left"></span>
                @Resources.LocalizedText.BtnReturn
            </a>
            @if (XkSystem.Code.Common.UserType == XkSystem.Code.EnumHelper.SysUserType.Administrator)
            {
                <a href="@Url.Action("Edit")" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span>
                    @Resources.LocalizedText.BtnAdd
                </a>
                <a href="@Url.Action("Delete")" class="btn btn-danger delete">
                    <span class="glyphicon glyphicon-trash"></span>
                    @Resources.LocalizedText.BtnDelete
                </a>
            }
        </div>
    </div>
    <hr />
    <nav class="navbar">
        <div class="navbar-left navbar-form">
            <div class="input-group form-group">
                @Html.TextBoxFor(d => d.SearchText, new { @class = "form-control", placeholder = Resources.LocalizedText.TipSearch })
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </nav>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    @if (XkSystem.Code.Common.UserType == XkSystem.Code.EnumHelper.SysUserType.Administrator)
                    {
                        <th style="width:30px">
                            @Html.CheckBox("CboxAll")
                        </th>
                    }
                    <th>
                        @Html.DisplayNameFor(d => d.MessageList.FirstOrDefault().MessageTitle)
                    </th>
                    <th style="width:150px;">
                        @Html.DisplayNameFor(d => d.MessageList.FirstOrDefault().SysUserName)
                    </th>
                    <th style="width:160px;">
                        @Html.DisplayNameFor(d => d.MessageList.FirstOrDefault().InputDate)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in Model.MessageList)
                {
                    <tr>
                        @if (XkSystem.Code.Common.UserType == XkSystem.Code.EnumHelper.SysUserType.Administrator)
                        {
                            <td>
                                <input type="checkbox" id="CboxId" name="CboxId" value="@a.Id" />
                            </td>
                        }
                        <td class="text-left">
                            @if (XkSystem.Code.Common.UserType == XkSystem.Code.EnumHelper.SysUserType.Administrator)
                            {
                                <a href="@Url.Action("Edit", new { id = a.Id })">@a.MessageTitle</a>
                            }
                            else
                            {
                                <a class="pop" href="@Url.Action("Details","SysMessage",new { id=a.Id})" dataHeight="650px" dataSize="Large" dataMethod="Info">@a.MessageTitle</a>
                            }
                        </td>
                        <td>
                            @a.SysUserName
                        </td>
                        <td>
                            @a.InputDate.ToString(XkSystem.Code.Common.StringToDateTime)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @Html.Partial("_PartialPager", Model.Page)
}