@model XkSystem.Areas.Sys.Models.SysMessage.PrivateMyMessageList

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    <div class="row">
        <div class="col-xs-6">
            <h4>我的私信</h4>
        </div>
        <div class="col-xs-6 text-right">
            <a href="@Url.Action("Index","SysIndex")" class="btn btn-default">
                <span class="glyphicon glyphicon-chevron-left"></span>
                @Resources.LocalizedText.BtnReturn
            </a>
            @if (XkSystem.Code.Common.UserType == XkSystem.Code.EnumHelper.SysUserType.Administrator)
            {
                <a href="@Url.Action("PrivateMessageEdit")" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span>
                    @Resources.LocalizedText.BtnAdd
                </a>
                <a href="@Url.Action("PrivateMessageDelete")" class="btn btn-danger delete">
                    <span class="glyphicon glyphicon-trash"></span>
                    @Resources.LocalizedText.BtnDelete
                </a>
                <div class="btn-group ">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-th"></span>
                        更多
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="@Url.Action("ImportMessage")" class="pop" dataSize="Large" dataHeight="500px">@Resources.LocalizedText.BtnImportFromExcel</a></li>
                    </ul>
                </div>
            }
        </div>
    </div>
    <hr />
    <nav class="navbar">
        <div class="navbar-left navbar-form">
            <div class="btn-group">
                <a class="btn btn-warning active" href="@Url.Action("PrivateMyMessageList", "SysMessage")">我的私信</a>
                <a class="btn btn-default" href="@Url.Action("PrivateMessageList", "SysMessage")">已发私信</a>
            </div>
            <div class="input-group form-group">
                @Html.TextBoxFor(d => d.SearchText, new { @class = "form-control", placeholder = Resources.LocalizedText.TipSearch })
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </nav>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th style="width:30px">
                        @Html.CheckBox("CboxAll")
                    </th>
                    <th>
                        @Html.DisplayNameFor(d => d.PrivateMessageMyList.FirstOrDefault().MessageTitle)
                    </th>
                    <th style="width:150px;">
                        @Html.DisplayNameFor(d => d.PrivateMessageMyList.FirstOrDefault().SysUserName)
                    </th>
                    <th style="width:160px;">
                        @Html.DisplayNameFor(d => d.PrivateMessageMyList.FirstOrDefault().InputDate)
                    </th>
                    <th style="width:160px;">
                        @Html.DisplayNameFor(d => d.PrivateMessageMyList.FirstOrDefault().IsRead)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in Model.PrivateMessageMyList)
                {
                    <tr>
                        <td>
                            <input type="checkbox" id="CboxId" name="CboxId" value="@a.Id" />
                        </td>
                        <td class="text-left">
                            <a class="pop" href="@Url.Action("Details", "SysMessage", new { id = a.MessageId, mesId = a.Id })" dataHeight="650px" dataSize="Large" dataMethod="Info">@a.MessageTitle</a>
                        </td>
                        <td>
                            @a.SysUserName
                        </td>
                        <td>
                            @a.InputDate.ToString(XkSystem.Code.Common.StringToDateTime)
                        </td>
                        <td>
                            @if (a.IsRead)
                            {
                                <span class="label label-success">已阅</span>
                            }
                            else
                            {
                                <span class="label label-info">未阅</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @Html.Partial("_PartialPager", Model.Page)
}