@model XkSystem.Areas.Exam.Models.ExamReport.List

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    <div class="tab">
        <ul class="nav nav-tabs">
            <li><a href="@Url.Action("StudentSeniorMarkList")">高中出国成绩单</a></li>
            <li  class="active"><a href="@Url.Action("StudentJeniorMarkList")">初中出国成绩单</a></li>
        </ul>
    </div>
            <nav class="navbar navbar-default mybar">
                <div class="navbar-right">
                    <a href="#" class="btn btn-warning" onclick="javascript: preview();">
                        <span class="glyphicon glyphicon-print"></span>
                        @Resources.LocalizedText.BtnPrint
                    </a>
                </div>
                <div class="collapse navbar-collapse">
                    <div class="navbar-left navbar-text">
                        初中出国成绩单
                    </div>
                </div>
            </nav>
            <hr />
                <div class="navbar-left navbar-form">
                    @Html.DropDownListFor(d => d.GradeId, Model.GradeList, new { @class = "form-control postback" })
                    @Html.DropDownListFor(d => d.ClassId, Model.ClassList, new { @class = "form-control postback" })
                    <div class="input-group form-group">
                        @Html.TextBoxFor(d => d.SearchText, new { @class = "form-control", placeholder = Resources.LocalizedText.TipSearch })
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>
           <br />
            <div class="table-responsive">
                <!--startprint-->
                @foreach (var s in Model.ClassStudentList)
                {
                    <div style="page-break-after :always"></div>
                    <br />
                    <div style="text-align:center; font-weight:bold; Font-Size:20px">
                        北京师范大学南山附属学校学生成绩表
                        <br />
                        Nanshan School Attached To Beijing Normal University
                        <br />
                        Student Transcript
                    </div>
                    <table style="width:100%">
                        <tr>
                            <td style="text-align:center">@s.StudentName</td>
                            <td style="text-align:center">@s.EntranceDate</td>
                        </tr>
                        <tr>
                            <td style="text-align:center">@s.SexName</td>
                            <td style="text-align:center">@s.Birthday</td>
                        </tr>
                    </table>
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th rowspan="2" style="text-wrap:none" nowrap>
                                    @Html.DisplayNameFor(d => d.ExamMarkList.FirstOrDefault().SubjectName)
                                </th>
                                @foreach (var g in Model.GradeTypeList)
                                {
                                    <th colspan="@Model.OptionEnChList.Count.ToString()" nowrap>
                                        @g.Text
                                        <br />
                                        @g.Value
                                    </th>
                                }
                            </tr>
                            <tr>
                                @foreach (var g in Model.GradeTypeList)
                                {
                                    foreach (var o in Model.OptionEnChList)
                                    {
                                        <th nowrap>@o.Text<br />
                                         @o.Value
                                        </th>
                                    }
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var subject in Model.SectionSubjectList)
                            {
                                <tr>
                                    <td style="text-wrap:none;" nowrap>
                                        @subject.SubjectName <br />@subject.SubjectNameEn
                                    </td>
                                    @foreach (var g in Model.GradeTypeList)
                                    {
                                        var gradeName =g.Text;

                                        foreach (var o in Model.OptionEnChList)
                                        {
                                            var sectionName =o.Text;

                                            var mark = Model.ExamMarkList.Where(d => d.SubjectId == subject.SubjectId
                                                   && d.StudentId == s.StudentId
                                                   && (d.ExamSectionName.Contains(sectionName) || d.ExamSectionNameEn.Contains(sectionName))
                                                   && d.GradeName.Contains(gradeName)
                                                   ).Select(d => d).FirstOrDefault();
                                            if (mark != null)
                                            {
                                                <td nowrap>
                                                    @mark.TotalMark
                                                </td>
                                            }
                                            else
                                            {
                                                <td nowrap>—</td>
                                            }
                                        }
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div style="text-align:left; font-weight:bold; Font-Size:10px">
                        *备注:&nbsp; 1.各科目满分为100分。<br />
                    </div>
                    <div style="text-align:left; font-weight:bold; Font-Size:10px; text-indent:40px">
                        3.“—”为未考科目。
                    </div>
                    <div style="text-align:left; font-weight:bold; Font-Size:10px">
                       *Note: 1.The full marks of each subject is 100 scores.<br />
                    </div>
                    <div style="text-align:left; font-weight:bold; Font-Size:10px ;text-indent:40px">
                        3.“—” means not available for the semester
                    </div>
                    <div style="text-align:right; font-weight:bold; Font-Size:10px">
                        <br />
                        北京师范大学南山附属学校<br />
                        Nanshan School Attached To BeiJing Normal University
                        <br />
                        地址：广东省深圳市南山区东滨路3002号<br />
                        Add.：Guangdong Province, Shenzhen City, Nanshan District East Road No.3002
                    </div>
                }
                <!--endprint-->
            </div>
}

<script language="Javascript">
    function preview() {
        var prnhtml = null;
        bdhtml = window.document.body.innerHTML;
        sprnstr = "<!--startprint-->";//开始标识
        eprnstr = "<!--endprint-->";//结束标识
        prnhtml = bdhtml.substr(bdhtml.indexOf(sprnstr) + 17);
        prnhtml = prnhtml.substring(0, prnhtml.indexOf(eprnstr)); //截取标识之间部分打印
        FGFG = window.document.body.innerHTML
        window.document.body.innerHTML = prnhtml;
        window.print();
        window.document.body.innerHTML = FGFG //如果不加此行，没有打印的部分在页面上会隐藏掉
        window.location.reload();
    }
</script>
