@model XkSystem.Areas.Disk.Models.DiskFile.Edit
@{
    ViewBag.TopBar = "Hidden";
}
<link href="@Url.Content("~/Content/uploadify.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery.uploadify.min.js")" type="text/javascript"></script>

<div class="container-fluid">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-xs-3 control-label">
                @Html.LabelForRequired(d => d.DiskFileEdit.FileTitle)
            </label>
            <div class="col-xs-9">
                <input type="file" id="@Html.IdFor(d => d.DiskFileEdit.FileTitle)" name="@Html.NameFor(d => d.DiskFileEdit.FileTitle)" data-val='true' data-val-required='该字段是必须的!' class="form-control" />
                @Html.ValidationMessageFor(d => d.DiskFileEdit.FileTitle)
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#@Html.IdFor(d => d.DiskFileEdit.FileTitle)").uploadify({
            buttonText: '请选择文件...',
            multi: true,
            swf: '@Url.Content("~/Content/uploadify.swf")',
            uploader: '@Html.Raw(Url.Action("Edit",new { FolderId = Model.FolderId}))',
            onQueueComplete: function () {
                alert("上传成功！");
                window.parent.location.reload();
            }
        });
    });
</script>